:root{
    --primary:#b887b6;
    --text:#6d6d6d;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: start;
    min-height: 100vh;
}

/*  HOME SECTION */

.hero-home {
    min-height: 100vh;

    background-image: url('../assets/asset1.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    display: flex;
    align-items: center;
}

.hero-home-content {
    max-width: 450px;
    margin-left: 80px;
}

.hero-home--content h1 {
    line-height: 1;
    margin-bottom: 25px;
}

.title-main-home {
    font-size: 5rem;
    font-weight: 700;
    color: #ea7f81;
}

.title-secondary-home {
    font-size: 3rem;
    font-weight: 600;
    color: #5b4a3b;
}

.hero-home--content p {
    font-size: 1.4rem;
    color: #5b4a3b;
    margin-bottom: 30px;
}

.btn-hero-home- {
    background: #ea7f81;
    color: white;
    border-radius: 50px;
    padding: 12px 30px;
    font-weight: 600;
}

.btn-hero-home-:hover {
    background: #d96c6e;
    color: white;
}

.social-icons {
    margin-top: 120px;
    display: flex;
    gap: 20px;
}

.social-icons a {
    color: #ea7f81;
    font-size: 1.8rem;
}

/* PRODUCTS SECTION  */

.category-info-descri{
    font-style: italic;
    margin-left: 10%;
    font-size: 1rem;
}

.hero-products-matcha {
    min-height: 100vh;

    background-image: url('../assets/asset2.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    display: flex;
    align-items: center;
}

.hero-products-content {
    max-width: 500px;
    margin-left: 62%;
}

.hero-products-content h1 {
    line-height: 1;
    margin-bottom: 25px;
}

.title-main-products {
    font-size: 5rem;
    font-weight: 700;
    color: #0B534D;
}

.title-secondary-products {
    font-size: 2.4rem;
    font-weight: 600;
    color: #F2F2F2;
}

.hero-products-content p {
    font-size: 1.5rem;
    color: #F2F2F2;
    margin-bottom: 40px;
    max-width: 500px;
}

.btn-products{
    color: #495A56;
    background: #c1dad7;

    border-radius: 20px;
    padding: 5px 25px;
    margin: 5px;

    font-size: 1rem;
    font-weight: 700;
}

.btn-new-products{
    color: #495A56;
    background: #c1dad7;
    max-width: 300px;
    text-align: center;

    border-radius: 20px;
    padding: 5px 25px;
    margin: 5px;

    font-size: 1rem;
    font-weight: 700;
}
.btn-new-products:hover {
    color: #495A56;
    background: rgba(73, 90, 86, 0.1);
}

.btn-products:hover {
    color: #495A56;
    background: rgba(73, 90, 86, 0.1);
}

.btn-hero-products {
    border: 4px solid #495A56;
    color: #495A56;
    background: transparent;

    border-radius: 50px;
    padding: 12px 35px;

    font-size: 1.2rem;
    font-weight: 700;
}

.btn-hero-products:hover {
    color: #495A56;
    background: rgba(73, 90, 86, 0.1);
}

.btn-hero-products:hover {
    color: #495A56;
    background: rgba(73, 90, 86, 0.1);
}

/* ABOUT SECTION */

.hero-overlay {
    position: relative;
    z-index: 2; 
}

.hero-overlay img{
    width:100%;
}

.hero-wave {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 90%;
    z-index: 1;
}

.hero-wave img{
    width:100%;
    display:block;
    margin-top: auto;
}

.contact-title{
    color:var(--primary);
    font-weight:700;
    font-size:3rem;
    line-height:1;
}

/*   404    */

.contenedor{
    display: flex;
    justify-content: center;
    align-items: center;
}

.imagen{
    max-width: 50%;
}

.imagen img{
    max-width: 80%;
}

/*   FOOTER   */
.footer-custom {
    background:url("../assets/footer-Vector.svg") no-repeat center top;
    height:520px;
    color: white;
    position: relative;
    padding-top: 205px;
    margin-top: auto;
}

.footer-logo {
    width: 120px;
    height: auto;
}

.footer-links li {
    margin-bottom: 10px;
}

.footer-links a {
    color: white;
    text-decoration: none;
    transition: 0.3s;
}

.footer-links a:hover {
    opacity: 0.7;
}

.social-icons {
    display: flex;
    justify-content: center;
    gap: 25px;
}

.social-icons a {
    color: white;
    font-size: 1.5rem;
    transition: 0.3s;
}

.social-icons a:hover {
    transform: scale(1.2);
}

.footer-bottom {
    background-color: rgba(255,255,255,0.15);
    font-size: 0.85rem;
}

/*      PROFILE      */

.profile-card{
    background:white;
    border-radius:12px;
    padding:40px;
    display:flex;
    gap:60px;
    box-shadow:0 5px 15px rgba(0,0,0,.08);
}

.left{
    width:320px;
}

.photo{
    width:250px;
    height:250px;
    position:relative;
}

.photo img{
    width:100%;
    height:100%;
    object-fit:cover;
    border-radius:10px;
    background:#ececf6;
}

.info{
    margin-bottom:28px;
}

.info h4{
    color:#444;
    margin-bottom:5px;
}

.info p{
    color:#777;
}


/*    CONTENEDOR   */

.container-profile{
    max-width:1000px;
    margin:auto;
    margin-bottom: 50px;
    margin-top: 50px;
}

.header-profile{
    display:flex;
    align-items:center;
    gap:10px;
    margin-bottom:30px;
    font-size:24px;
    color:#333;
}

.header-profile span{
    width:18px;
    height:8px;
    background:#C8A166;
    border-radius:10px;
}

.right{
    flex:1;
}

.btn-edit{
    margin-top:15px;
    padding:12px 30px;
    border:2px solid #C8A166;
    background:white;
    color:#C8A166;
    border-radius:8px;
    cursor:pointer;
    font-size:15px;
    transition:.3s;
}

.btn-edit:hover{
    background:#C8A166;
    color:white;
}